<div class="roe mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">

      <h1 class="text-center">Login Page</h1>
      {{> message}}

      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email" class="mb-2">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Your email" required >
        </div>

        <div class="mb-3">
          <label for="password" class="mb-2">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Your password" required >
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-dark">Login</button>
          <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
        </div>
      </form>

      <p class="lead mt-4">No Account?
        <a href="/users/register">Register</a>
      </p>

    </div>
  </div>
</div>